* {
  box-sizing: border-box;
  outline: none;
  color: #1f1f1f;
}

body {
  background-color: #e4e2e2;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  height: 30px;
  padding-left: 10px;
  margin-top: 5px;
  border-style: none;
  border-radius: 10px;
  background: #e4e2e2;
  box-shadow: inset 5px 5px 5px #c2c0c0, 
  inset -5px -5px 5px #ffffff;

  &[type=text]:focus {
    border-color: blue;
  }
}

button {
  height: 30px;
  border-radius: 10px;
  border-style: none;
  color: #5f9ea0;
  font-weight: bolder;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  border-radius: 25px;
  background: #e4e2e2;
  box-shadow:  5px 5px 5px #c2c0c0, 
  -5px -5px 5px #ffffff;
  
  &:hover {
    color: #e4e2e2;
    background: #5f9ea0;
    box-shadow:  5px 5px 5px #518688, 
    -5px -5px 5px #6db6b8;
  }
  
  &.danger {
    color: #8f0000;
    &:hover {
      color: #e4e2e2;
      background: #8f0000;
      box-shadow:  5px 5px 5px #7a0000, 
      -5px -5px 5px #a40000;
    }
  }
}
