* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #e4e2e2;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  height: 30px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;

  &[type=text]:focus {
    border-color: blue;
  }
}

button {
  height: 30px;
  border-radius: 10px;
  border-style: none;
  background-color: cadetblue;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;

  &:focus {
    background-color: blueviolet;
  }
}
